<div class = "container">
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
      <li ngbNavItem routerLink="/">
        <a ngbNavLink>Stack Search</a>
      </li>

      <li ngbNavItem routerLink="/about">
        <a ngbNavLink>About</a>
      </li>

      <li ngbNavItem>
        <a ngbNavLink>Contact</a>
      </li>
      
      <li ngbNavItem>
        <input type="text" name= "displayName" placeholder="Enter user name" [(ngModel)]="displayName" >
        <button type="submit" (click)="onSubmit()"> Submit </button>
      </li>


    </ul>
    <div  [ngbNavOutlet]="nav"></div> 
</div>