<div class = "container">

<header>
<mat-toolbar>

  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <mat-button-toggle  value="bold" routerLink="/" style="display:table-cell;
    width:400px;color:blue" >Stack Search </mat-button-toggle>
    <mat-button-toggle value="italic" routerLink="/about" style="display:table-cell;
    width:300px;color:green" >About</mat-button-toggle>
    <mat-button-toggle value="underline" routerLink="/contact" style="display:table-cell;
    width:300px;color:pink" >Contact</mat-button-toggle>
  </mat-button-toggle-group>
  
  <!-- Binding changes made to the input field to the navbar component's property called displayName
  any update to this text input field will be reflected on displayName -->
  <input matInput name= "displayName" placeholder="Enter user name" [(ngModel)]="displayName" style="display:table-cell;
  width:400px;color:purple"  >

  <!-- event binding when clicked call on submit of app-navbar -->
  <button matButton type="submit" (click)="onSubmit()" style="display:table-cell;
  width:100px;background-color:greenyellow" > 
  
<mat-icon>search</mat-icon></button>

 
</mat-toolbar> 
</header>

</div> 