  <footer style="
  background-color:beige;">
    <mat-list>
      <mat-list-item>Get connected with us on social networks:
      <mat-list>
        <mat-list-item>
          <mat-icon>facebook</mat-icon>  
        </mat-list-item>
      </mat-list>
    </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item >Stack Search Application helps you to find Stack Overflow Users</mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>


    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);" layout="row" layout-align="center center" flex>
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="/">StackSearch.com</a>
    </div>
 
</footer>



